.carousel-item{
    height: 600px;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.carousel-item .main-banner{
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.carousel-item [data-src]{
    position: relative;
    background-position: 50% 50% !important;
}


.carousel-item [data-src]::after{
    content: '';
    position: absolute;
    width: calc(100% - (35px * 2));
    height: calc(100% - (35px * 2));
    bottom: 35px;
    right: 35px;
    border-bottom: 1px solid rgba(255,255,255,.5);
    border-left: 1px solid rgba(255,255,255,.5);
}

.slick-arrow{
    position: absolute;
    top: 45%;
    width: 40px;
    height: 40px;
    border: 1px solid white;
    background-color: rgba(0,0,0,.3);
    border-radius: 50%;
    cursor: pointer;
    color: white;
    z-index: 100;
    font-size: 27px;
    text-align: center;
}

.slick-next{
    right: 10%;
}

.slick-prev{
    left: 10%;
}

.slick-slide{
    height: unset !important;
}

.main-banner{
    text-align: right;
}

.main-banner::before{
    content: '';
    position: absolute;
    height: 560px;
    width: 560px;
    background: url(../images/flare.png) no-repeat;
    background-size: cover;
    top:  calc(50% - 280px);
    right: -240px;
    z-index: 20;
}

.main-banner h1{
    width: 50%;
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 1rem;
    display: inline-block;
}

.main-banner .btn-transparent{
    background-color: rgba(0,0,0,.3);
}

.main-banner > div{
    margin-right: 3rem;
}

@media (max-width: 1200px) {
    .carousel-item{
        grid-template-columns: 100%;
    }

    .carousel-item .main-banner{
        justify-content: center;
    }

    .main-banner{
        text-align: center;
    }


    .slick-arrow{
        top: unset;
        bottom: -20px;
    }

    .slick-next{
        right: 35%;
    }

    .slick-prev{
        left: 35%;
    }

    .carousel-item [data-src]::after{
        display: none;
    }

    .main-banner h1{
        width: 80%;
        font-size: 40px;
        margin-bottom: 3rem;
    }

    .main-banner > div{
        margin-right: 0;
    }

    .main-banner::before{
        display: none;
    }
}
