.rose{
    position: absolute;
    z-index: 100;
}
.rose:nth-child(1){
    top: 102px;
    right: 20px;
}

.rose:nth-child(2){
    top: 655px;
    left: 35px;
}

.rose:nth-child(3){
    top: 1070px;
    right: 0;
    z-index: 10;
}

@media (max-width: 1200px) {
    .rose{
        display: none;
    }
}